logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea/
workspace.xml
Backstage/.idea/workspace.xml
.idea/Weekly.iml
.idea/workspace.xml
.vs/slnx.sqlite
.idea/Weekly.iml
.idea/workspace.xml
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/tasks.vs.json
.vs/Weekly/v15/.suo
Backstage/.idea/Backstage.iml
Backstage/.idea/workspace.xml
Backstage/src/database/__pycache__/DBConnection.cpython-37.pyc
Backstage/src/database/__pycache__/DB_user.cpython-37.pyc
Backstage/src/database/__pycache__/DB_weekly.cpython-37.pyc
Backstage/src/database/__pycache__/__init__.cpython-37.pyc
Backstage/src/restful/__pycache__/__init__.cpython-37.pyc
Backstage/src/restful/__pycache__/account.cpython-37.pyc
Backstage/src/restful/__pycache__/addWeekly.cpython-37.pyc
Frontend/package-lock.json
Frontend/package-lock.json
.idea/Weekly.iml
.idea/workspace.xml
Backstage/.idea/Backstage.iml
Backstage/.idea/workspace.xml
