<div class="buttons">
    <button  ng-click="add()" class="btn Lable"><img src="../images/add.png" class="Icon">增加</button>
    <button  ng-click="dlt()" class="btn Lable" style="display: none"><img src="../images/export.png" class="Icon">导出</button>
</div>
<table>
    <tr class="head">
        <!--<td>-->
            <!--<label>-->
                <!--<input type="checkbox" ng-click="qx()"/>-->
            <!--</label>-->
        <!--</td>-->
        <td>序号</td>
        <td>工号</td>
        <td>工作名称</td>
        <td>工作内容</td>
        <td>完成情况</td>
        <td>总结反思</td>
        <td>操作</td>
    </tr>
    <tr class="content" ng-if="weeklys.length == 0">
        <td></td><td></td><td></td>
        <td>无数据</td>
        <td></td><td></td><td></td>
    </tr>
    <tr class="content" ng-repeat="weekly in weeklys | startFrom : start | limitTo: pagemax ">
        <td ng-bind="(pagenumber-1)*pagemax + $index+1"></td>
        <td ng-bind="weekly.Wnumber"></td>
        <td ng-bind="weekly.job"></td>
        <td ng-bind="weekly.detail.length <= 10 ? weekly.detail : weekly.detail.substr(0, 10)+'......'"></td>
        <td ng-bind="weekly.done ? '已完成':'未完成'"></td>
        <td ng-bind="weekly.review.length <= 8 ? weekly.review : weekly.review.substr(0, 8)+'......'"></td>
        <td>

            <div class="edit" style="border:0;cursor:pointer" ng-click="edit((pagenumber-1)*pagemax + $index)">编辑</div>
            <div class="delete" style="border:0;cursor:pointer" ng-click="dele((pagenumber-1)*pagemax + $index)">删除</div>
            <div class="detail" style="border:0;cursor:pointer" ng-click="details((pagenumber-1)*pagemax + $index)">更多</div>
        </td>
    </tr>
</table>
<div class="bottoms">
    <div class="pagetag pagelabel">{{pagenumber}}</div>
    <div class="lines-of-page">{{pagemax}}行/页</div>
    <div class="this-page-line">本页为{{pagenumber == 1?(sum == 0? 0:1):start+1}}~{{end}}条记录，总记录{{sum}}条</div>
    <button  ng-click="nextpage()" class="btnNextPage Lable" ng-if="pagenumber * pagemax < sum">下一页 ></button>
    <button  ng-click="lastpage()" class="btnLastPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax < sum">上一页 <</button>
    <button  ng-click="lastpage()" class="btnNextPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax >= sum">上一页 <</button>
</div>

<div class="back" id="backgroud_popup" ng-style="{display:show}"></div>

<div class="pop-window" id="popup" ng-style="{display:show}">
    <div class="pop-header">
        <label class="pop-title">编辑周报</label>
    </div>
    <form class="pop-form">
        <label class='must-input first-pop-star'>*</label>
        <label class="pop-label first-pop-label">工作名称</label>
        <input class="pop-input first-pop-input" ng-model="job" ng-style="editOrNot" ng-readonly="readOnly"/>

        <label class='must-input second-pop-star'>*</label>
        <label class="pop-label second-pop-label">完成情况</label>
        <div class="first-pop-radio">
            <input type="radio"  ng-if="showSave==='block'" class="pop-radio" ng-checked="done" ng-click="doneInit(1)">
                <label class="pop-radio-label" ng-if="showSave==='block'">完成</label>
            </input>
            <input type="radio"  ng-if="showSave==='block'" class="pop-radio" ng-checked="!done" ng-click="doneInit(0)">
                <label class="pop-radio-label" ng-if="showSave==='block'">完成中</label>
            </input>
            <label class="pop-radio pop-radio-label" ng-if="showSave==='none'">{{finishStatus}}</label>
        </div>

        <label class='must-input third-pop-star'>*</label>
        <label class="pop-label third-pop-label">工作内容</label>
        <textarea class="first-pop-textarea" ng-model="detail"  ng-style="editOrNot" ng-readonly="readOnly"></textarea>

        <label class='must-input fourth-pop-star'>*</label>
        <label class="pop-label fourth-pop-label">总结反思</label>
        <textarea class="second-pop-textarea"ng-model="review"  ng-style="editOrNot" ng-readonly="readOnly"></textarea>

        <label class="pop-label fifth-pop-label" ng-if="operType === 'view'">评价</label>
        <textarea class="third-pop-textarea" ng-if="operType === 'view'" ng-model="comment" ng-style="editOrNot" ng-readonly="readOnly"></textarea>

        <button class="pop-submit" ng-click="submit()" ng-style="{'display': showSave}">保存</button>
        <button class="pop-cancel"  ng-click="close()">{{closeTag}}</button>

    </form>
</div>