<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>企业周报管理</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/table.css">
  <link rel="stylesheet" href="css/mainpage.css">
  <link rel="stylesheet" href="css/popwindow.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <div id="mainpage" ng-controller="mainPageCtrl" style="display: none">
      <div class="mainpage-background"></div>
      <div class="main-page-title" ng-style="label_y">企业周报管理</div>
      <div class="main-page-title-en" ng-style="label_y">Enterprise weekly management</div>
      <div class="bigcircle"></div>
      <div class="circle"></div>
      <div id="main-line" class="line-main-page" style="display: none;"></div>
      <div class="login-signup">
        <button id="login" class="main-page-button" onclick="gotologinpage()" ng-click="label_y = {'left':'166px'}">登录</button>
        <div id="flush">/</div>
        <button id="signup" class="main-page-button" onclick="goto1st()" ng-click="label_y = {'left':'166px'}">注册</button>
      </div>
      <div id="first-step" style="display: none;">
          <div class="main-page-lable first-label">姓名</div>
          <input class="main-page-input first-input"  type="text" ng-model="newusername"></input>
          <div class="main-page-lable second-label">领导工号</div>
          <input class="main-page-input second-input" type="text" ng-model="lwnumber"></input>
          <button class="main-page-button continue-button" onclick="goto2nd()"></button>
      </div>
      <div id="second-step"  style="display: none;">
          <div class="main-page-lable first-label">密码</div>
          <input class="main-page-input first-input" type="password" ng-model="password"></input>
          <div class="main-page-lable second-label">确认密码</div>
          <input class="main-page-input second-input"  type="password" ng-model="retype_password"></input>
          <button class="final-button left-button" ng-click="signup()">确认</button>
          <button class="final-button right-button" onclick="main_cancle()" ng-click="label_y = {'left':'480px'}">取消</button>
      </div>
      <div id="login-page" style="display: none;">
          <div class="main-page-lable first-label">工号</div>
          <input class="main-page-input first-input" type="text" ng-model="wnumber"></input>
          <div class="main-page-lable second-label">密码</div>
          <input class="main-page-input second-input" type="password" ng-model="password"></input>
          <button class="final-button left-button" ng-click="login()">登录</button>
          <button class="final-button right-button" onclick="main_cancle()" ng-click="label_y = {'left':'480px'}">取消</button>
      </div>
  </div>
  <div id="userview" style="display: none;"  ng-controller="frameCtrl">
      <div class="topbar">
          <span class="topbartitle">企业周报管理</span>
          <img src="images/down.png" class="avatar-down"/>
          <img ng-src="images/{{photo}}" class="avatar"/>
          <div class="user-status"></div>
          <div class="user-id" ng-mouseover="over_selectMenu()">{{username}}</div>
          <div class="right-selectMenu" ng-style="right_selectMenu" ng-mouseover="right_selectMenu={'display':'block'}" ng-mouseleave="right_selectMenu={'display':'none'}">
              <div ng-class="p_selectMenu" ng-click="selectThis('aboutMe')" ng-mouseover="over_personal()" ng-mouseleave="leave_personal()">
                <!--<img src="images/mine.png" class="selectMenuIcon">-->
                <a href="#?/aboutMe" ng-class="p_selectMenuLabel">个人中心</a>
              </div>
              <div ng-class="l_selectMenu" onclick="logout()" ng-mouseover="over_logout()" ng-mouseleave="leave_logout()">
                <!--<img src="images/aboutme.png" class="selectMenuIcon">-->
                <a href="#?/" ng-class="l_selectMenuLabel">注销登录</a>
              </div>
          </div>
          <!-- <button class="border-btn btn-text" onclick="logout()">管理员<img src="images/down.png" class="btn-icon"/></button> -->
      </div>
      <div class="searchbar" ng-controller='searchCenterCtrl'>
          <button ng-click='search(0)' style="border:none;background-color: #ffffff;">
            <img src="images/search.png" class="icon"/>
          </button>
          <input ng-class="(keyword != null && keyword.length != 0)? 'searchkeyword':'searchtips'" ng-model="keyword" type="text" placeholder="查找工号/姓名......" style="border:none;width: 1000px;background-color: #ffffff;">
          <!-- <button class="s-icon" type="submit"><img src="{% static 'img/icons/search.png' %}"/></button> -->
      </div>

      <div class="content">
        <div class="sidebar">
          <!-- 以#开头的情况下 url中有匹配的href则跳转到匹配的 没有则按url（含默认前缀和默认路由）加上href跳转 -->
          <div ng-class="myWeekly" ng-click="selectThis('myWeekly')">
            <img src="images/mine.png" class="sidebarIcon">
            <a href="#?/myWeekly" ng-class="myWeeklyLabel">我的周报</a>
          </div>
          <div ng-if="hasSub" ng-class="weeklyManager" ng-click="selectThis('weeklyManager')">
            <img src="images/manager.png" class="sidebarIcon">
            <a href="#?/weeklyManager" ng-class="weeklyManagerLabel">周报管理</a>
          </div>
          <div ng-if="hasSub" ng-class="taskManager" ng-click="selectThis('taskManager')">
            <img src="images/manager.png" class="sidebarIcon">
            <a href="#?/addTask" ng-class="taskManagerLabel">分配任务</a>
          </div>
          <div ng-if="hasSub" ng-class="approveAsking" ng-click="selectThis('approveAsking')">
            <img src="images/manager.png" class="sidebarIcon">
            <a href="#?/approveAsking" ng-class="approveAskingLabel">请假审核</a>
          </div>
          <div ng-class="askForLeave" ng-click="selectThis('askForLeave')">
            <img src="images/manager.png" class="sidebarIcon">
            <a href="#?/askForLeave" ng-class="askForLeaveLabel">请假申请</a>
          </div>
          <div ng-if="hasSub" ng-class="signupManager" ng-click="selectThis('signupManager')" >
            <img src="images/mine.png" class="sidebarIcon">
            <a href="#?/signupManager" ng-class="signupManagerLabel">注册管理</a>
          </div>
          <div ng-class="searchCenter" ng-click="selectThis('searchCenter')">
            <img src="images/search.png" class="sidebarIcon">
            <a id="searchCenter"  href="#?/searchCenter" ng-class="searchCenterLabel" ng-click="selectThis('searchCenter')">查找同事</a>
          </div>
          <div ng-class="aboutMe" ng-click="selectThis('aboutMe')">
              <img src="images/aboutme.png" class="sidebarIcon">
              <a id='aboutMe' href="#?/aboutMe" ng-class="aboutMeLabel">个人中心</a>
            </div>
        </div>
        <div class="base"></div>
        <div ng-view class="view"></div>
      </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controller/mainpage.js"></script>
  <script src="weeklyManager/weeklyManager.js"></script>
  <script src="myWeekly/myWeekly.js"></script>
  <script src="searchCenter/searchCenter.js"></script>
  <script src="aboutMe/aboutMe.js"></script>
  <script src="addTask/addTask.js"></script>
  <script src="approveAsking/approveAsking.js"></script>
  <script src="askForLeave/askForLeave.js"></script>
  <script src="signupManager/signupManager.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
