<div>
    <div class="buttons">
        <button  ng-click="add()" class="btn Lable"><img src="../images/add.png" class="Icon">新增</button>
    </div>
    <table>
        <tr class="head">
            <td>序号</td>
            <td>请假原因</td>
            <td>请假日期</td>
            <td>请假时段</td>
            <td>审核情况</td>
            <td>操作</td>
        </tr>
        <tr class="content" ng-if="askings.length == 0">
            <td></td><td></td>
            <td>无数据</td>
            <td></td><td></td><td></td>
        </tr>
        <tr class="content" ng-repeat="asking in askings | startFrom : start | limitTo: pagemax ">
            <td ng-bind="(pagenumber-1)*pagemax + $index+1"></td>
            <td ng-bind="asking.reason"></td>
            <td ng-bind="asking.date"></td>
            <td ng-bind="asking.partOfDay"></td>
            <td ng-bind="asking.agree ? '已通过':'待通过'"></td>
            <td>
                <div class="edit" style="border:0;cursor:pointer" ng-click="edit((pagenumber-1)*pagemax + $index)">编辑</div>
                <div class="delete" style="border:0;cursor:pointer" ng-click="dele((pagenumber-1)*pagemax + $index)">删除</div>
                <div class="detail" style="border:0;cursor:pointer" ng-click="details((pagenumber-1)*pagemax + $index)">更多</div>
            </td>
        </tr>
    </table>
</div>

<div class="bottoms">
    <div class="pagetag pagelabel">{{pagenumber}}</div>
    <div class="lines-of-page">{{pagemax}}行/页</div>
    <div class="this-page-line">本页为{{pagenumber == 1?(sum == 0? 0:1):start+1}}~{{end}}条记录，总记录{{sum}}条</div>
    <button  ng-click="nextpage()" class="btnNextPage Lable" ng-if="pagenumber * pagemax < sum">下一页 ></button>
    <button  ng-click="lastpage()" class="btnLastPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax < sum">上一页 <</button>
    <button  ng-click="lastpage()" class="btnNextPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax >= sum">上一页 <</button>
</div>

<div class="back" id="backgroud_popup" ng-style="{display:show}"></div>

<div class="pop-window" id="popup" ng-style="{display:show}">
    <div class="pop-header">
        <label class="pop-title">{{askingtitle}}</label>
    </div>
    <form class="pop-form">
        <label class='must-input first-pop-star'>*</label>
        <label class="pop-label first-pop-label">请假日期</label>
        <input class="pop-input first-pop-input" ng-model="askingdate" ng-value="askingdate" type="date" ng-style="editOrNot" ng-readonly="readOnly"/>

        <label class='must-input second-pop-star'>*</label>
        <label class="pop-label second-pop-label">请假时段</label>
        <div class="first-pop-radio">
            <input type="radio"  ng-if="showSave==='block'" class="pop-radio" ng-checked="morning" ng-click="chooseTime(1)">
                <label class="pop-radio-label" ng-if="showSave==='block'">早上</label>
            </input>
            <input type="radio"  ng-if="showSave==='block'" class="pop-radio" ng-checked="afternoon" ng-click="chooseTime(2)">
                <label class="pop-radio-label" ng-if="showSave==='block'">下午</label>
            </input>
           <input type="radio"  ng-if="showSave==='block'" class="pop-radio" ng-checked="wholeday" ng-click="chooseTime(3)">
                <label class="pop-radio-label" ng-if="showSave==='block'">全天</label>
            </input>
            <label class="pop-radio pop-radio-label" ng-if="showSave==='none'">{{partOfDayLabel}}</label>
        </div>

        <label class='must-input third-pop-star'>*</label>
        <label class="pop-label third-pop-label">请假原因</label>
        <textarea class="first-pop-textarea" ng-model="reason"  ng-style="editOrNot" ng-readonly="readOnly"></textarea>

        <button class="pop-submit" ng-click="submit()" ng-style="{'display': showSave}">保存</button>
        <button class="pop-cancel"  ng-click="close()">{{closeTag}}</button>

    </form>
</div>