<div ng-style="{display:searchshow}" >
    <div style="margin-left:200px;margin-top:200px;">
        <span style="margin-left:400px;" class="searchCenterTitle">查找同事</span>
        <div class="searchbar" style="width:850px;border:solid;border-color: bisque">
            <button ng-click='search(1)' style="border:none;background-color: #ffffff;"><img src="images/search.png" class="icon"/></button>
            <input ng-class="(keyword != null && keyword.length != 0)? 'searchkeyword':'searchtips'" ng-model="keyword" type="text" placeholder="查找工号/姓名......" style="border:none;width: 800px;background-color: #ffffff;">
            <!-- <button class="s-icon" type="submit"><img src="{% static 'img/icons/search.png' %}"/></button> -->
        </div>
    </div>
</div>

<div ng-style="{display:usershow}">
    <div style="margin-left:35px;margin-top:35px;">
        <span class="searchCenterTitle">相关员工</span>
        <table>
            <tr class="head">
                <td>工号</td>
                <td>姓名</td>
                <td>直接主管</td>
            </tr>
            <tr ng-repeat="user in users" class="content">
                <td ng-bind="user.Wnumber"></td>
                <td ng-bind="user.name"></td>
                <td ng-bind="user.pleader"></td>
            </tr>
        </table>
    </div>
</div>
