<div ng-style="{display:userlistshow}">
    <table>
        <tr class="head">
            <td>序号</td>
            <td>姓名</td>
            <td>工号</td>
            <td>审核状态</td>
            <td>操作</td>
        </tr>
        <tr class="content" ng-if="users.length == 0">
            <td></td><td></td>
              <td>无数据</td>
            <td></td><td></td>
        </tr>
        <tr class="content" ng-repeat="user in users | startFrom : start | limitTo: pagemax ">
            <td ng-bind="(pagenumber-1)*pagemax + $index+1"></td>
            <td ng-bind="user.name"></td>
            <td ng-bind="user.Wnumber"></td>
             <td>
                <label>
                    <input type="checkbox" ng-checked="user.done" ng-click="donef($index)">
                </label>
            </td>
            <td>
                <div class="seeweekly" style="border:0;cursor:pointer" ng-click="seeweekly((pagenumber-1)*pagemax + $index)">查看周报</div>
            </td>
        </tr>
    </table>
    <div class="bottoms">
        <div class="pagetag pagelabel">{{pagenumber}}</div>
        <div class="lines-of-page">{{pagemax}}行/页</div>
        <div class="this-page-line">本页为{{pagenumber == 1?(sum == 0? 0:1):start+1}}~{{end}}条记录，总记录{{sum}}条</div>
        <button  ng-click="nextpage()" class="btnNextPage Lable" ng-if="pagenumber * pagemax < sum">下一页 ></button>
        <button  ng-click="lastpage()" class="btnLastPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax < sum">上一页 <</button>
        <button  ng-click="lastpage()" class="btnNextPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax >= sum">上一页 <</button>
    </div>
</div>

<div ng-style="{display:weeklyshow}">
    <div class="buttons">
        <button  ng-click="back()" class="btn Lable"><img src="../images/export.png" class="Icon">返回</button>
    </div>
    <table>
        <tr class="head">
            <td>序号</td>
            <td>工号</td>
            <td>工作名称</td>
            <td>工作内容</td>
            <td>完成情况</td>
            <td>总结反思</td>
            <td>操作</td>
        </tr>
        <tr class="content" ng-if="weeklys.length == 0">
            <td></td><td></td><td></td>
            <td>无数据</td>
            <td></td><td></td><td></td>
        </tr>
        <tr class="content" ng-repeat="weekly in weeklys | startFrom : weeklystart | limitTo: pagemax ">
            <td ng-bind="(wpagenumber-1)*pagemax + $index+1"></td>
            <td ng-bind="weekly.Wnumber"></td>
            <td ng-bind="weekly.job"></td>
            <td ng-bind="weekly.detail.length <= 10 ? weekly.detail : weekly.detail.substr(0, 10)+'......'"></td>
             <td>
                <label>
                    <input type="checkbox" ng-checked="weekly.done" ng-click="donef($index)">
                </label>
            </td>
            <td ng-bind="weekly.review.length <= 8 ? weekly.review : weekly.review.substr(0,8)+'......'"></td>
            <td>
                <div class="comment" style="border:0;cursor:pointer" ng-click="comments((wpagenumber-1)*pagemax + $index)">评价</div>
                <div class="detail" style="border:0;cursor:pointer" ng-click="details((wpagenumber-1)*pagemax + $index)">详情</div>
            </td>
        </tr>
    </table>
    <div class="bottoms">
        <div class="pagetag pagelabel">{{wpagenumber}}</div>
        <div class="lines-of-page">{{pagemax}}行/页</div>
        <div class="this-page-line">本页为{{wpagenumber == 1?(weeklysum == 0? 0:1):weeklystart+1}}~{{weeklyend}}条记录，总记录{{weeklysum}}条</div>
        <button  ng-click="nextpage(false)" class="btnNextPage Lable" ng-if="wpagenumber * pagemax < weeklysum">下一页 ></button>
        <button  ng-click="lastpage(false)" class="btnLastPage Lable" ng-if="wpagenumber != 1 && wpagenumber * pagemax < weeklysum">上一页 <</button>
        <button  ng-click="lastpage(false)" class="btnNextPage Lable" ng-if="wpagenumber != 1 && wpagenumber * pagemax >= weeklysum">上一页 <</button>
    </div>
</div>

<div class="back" id="backgroud_popup" ng-style="{display:show}"></div>

<div class="pop-window" id="popup" ng-style="{display:show}">
    <div class="pop-header">
        <label class="pop-title">评价周报</label>
    </div>
    <form class="pop-form">
        <label class='must-input first-pop-star'>*</label>
        <label class="pop-label first-pop-label">工作名称</label>
        <input class="pop-input first-pop-input" style="outline:none;border-style:none" ng-model="job"/>

        <label class='must-input third-pop-star'>*</label>
        <label class="pop-label third-pop-label">评价</label>
        <textarea class="first-pop-textarea" ng-model="comment"></textarea>

        <button class="pop-submit" ng-click="submit()">保存</button>
        <button class="pop-cancel"  ng-click="close()">取消</button>

    </form>
</div>