<table>
    <tr class="head">
        <td>序号</td>
        <td>员工姓名</td>
        <td>请假时间</td>
        <td>原因</td>
        <td>审核状态</td>
        <td>操作</td>
    </tr>
    <tr class="content" ng-if="askings.length == 0">
        <td></td><td></td>
        <td>无数据</td>
        <td></td><td></td><td></td>
    </tr>
    <tr class="content" ng-repeat="asking in askings | startFrom : start | limitTo: pagemax ">
        <td ng-bind="(pagenumber-1)*pagemax + $index+1"></td>
        <td ng-bind="asking.name"></td>
        <td ng-bind="asking.time"></td>
        <td ng-bind="asking.reason"></td>
        <td ng-bind="asking.agree == -1 ? '已拒绝':(asking.agree?'已通过':'未审核')"></td>
        <td>
            <div class="deny" style="border:0;cursor:pointer" ng-click="deny((pagenumber-1)*pagemax + $index+1)">拒绝请假</div>
            <div class="agree" style="border:0;cursor:pointer" ng-click="agree((pagenumber-1)*pagemax + $index+1)">通过请假</div>
        </td>
    </tr>
</table>
<div class="bottoms">
    <div class="pagetag pagelabel">{{pagenumber}}</div>
    <div class="lines-of-page">{{pagemax}}行/页</div>
    <div class="this-page-line">本页为{{pagenumber == 1?(sum == 0? 0:1):start+1}}~{{end}}条记录，总记录{{sum}}条</div>
    <button  ng-click="nextpage()" class="btnNextPage Lable" ng-if="pagenumber * pagemax < sum">下一页 ></button>
    <button  ng-click="lastpage()" class="btnLastPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax < sum">上一页 <</button>
    <button  ng-click="lastpage()" class="btnNextPage Lable" ng-if="pagenumber != 1 && pagenumber * pagemax >= sum">上一页 <</button>
</div>