/* app css stylesheet */
@font-face {
    /* font-properties */
    font-family: zcoolwenyiti;
    src:url('font/webfont.ttf'),  
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f5f8fc;
    overflow: hidden;
}

.topbar {
	width: 100%;
	height: 65px;
	background-color: #2a3245;
	padding-top: 25px;
}

.topbartitle{
	width: 132px;
	height: 15px;
	font-family: zcoolwenyiti;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #ffffff;
	margin-left: 41px;
}

.avatar{
	width: 42px;
	height: 38px;
	float:right;
	margin-top: -8px;
	margin-right: 18px;
	border-radius:50%;
	background-color: #373f52;
}

.avatar-down{
	width: 10px;
	height: 8px;
	margin-top: 16px;
	float:right;
	margin-right: 102px;
}

.user-status{
	width: 15px;
	height: 12px;
	background-color: #5bea94;
	border-radius:50%;
	border: solid 8px #2a3245;
	margin-top: 16px;
	float:right;
	margin-right: -56px;
	z-index: 999;
}

.user-id{
	font-family: AdobeHeitiStd-Regular;
	font-size: 12px;
	margin-top: 38px;
	margin-right: -32px;
	color: #ffffff;
	float:right;
}

.right-selectMenu{
	margin-top: 42px;
	margin-right: -58px;
	float:right;
}

.selectMenuButtonSelected{
	width: 68px;
	height: 32px;
	background-color: #373f52;
}

.selectMenuButton{
	width: 68px;
	height: 32px;
	background-color: #2a3245;
}

.selectMenuIcon {
	width: 10px;
	height: 10px;
	margin-left: 16px;
}

.selectMenuLabelSelected{
    text-decoration:none;
	font-family: zcoolwenyiti;
	font-size: 12px;
	color: #ffffff;
	margin-left: 10px;
}

.selectMenuLabel{
    text-decoration:none;
	font-family: zcoolwenyiti;
	font-size: 12px;
	color: #6a707d;
	margin-left: 10px;
}

.separator {
	width: 2px;
	height: 21px;
	position:absolute;
    left: 1326px;
	top: 26px;
	background-color: #9e9eb9;
}

.border-btn {
	width: 88px;
	height: 28px;
	border-radius: 14px;
	border: solid 3px #ffffff;
    background-color: #2a3245;
	child-align: middle;
	position:absolute;
    left: 1200px;
}

.btn-text{
	font-family: AdobeHeitiStd-Regular;
	font-size: 12px;
	color: #ffffff;
	margin-right: 39px
}

.btn-icon {
	width: 10px;
	height: 8px;
	margin-left: 17px;
}

.button {
	width: 90px;
	height: 28px;
	background-color: #2a3245;
	box-shadow: 0px 10px 15px 0px
		rgba(86, 111, 140, 0.3);
	border-radius: 14px;
}

.searchbar {
	width: 100%;
	height: 53px;
	background-color: #ffffff;
	box-shadow: 0px 2px 0px 0px
		#e1e6eb;
}

.icon {
	width: 17px;
	height: 13px;
	padding: 1%;
}

.searchtips{
	width: 157px;
	height: 13px;
	font-family: AdobeHeitiStd-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #c1c7d4;
}

.content{
	width:1000000px;
}

.sidebar {
    float:left;
	width: 139px;
	height: 10000px;
	background-color: #2a3245;
}

.sideButtonSelected{
	width: 139px;
	height: 48px;
	background-color: #373f52;
	padding-top: 16px;
}

.sideButton{
	width: 139px;
	height: 48px;
	background-color: #2a3245;
	padding-top: 16px;
}

.sidebarIcon {
	width: 13px;
	height: 13px;
	margin-left: 16px;
}

.sideButtonLabelSelected{
    text-decoration:none;
	width: 64px;
	height: 14px;
	font-family: zcoolwenyiti;
	font-size: 16px;
	color: #ffffff;
	margin-left: 10px;
}

.sideButtonLabel{
    text-decoration:none;
	width: 64px;
	height: 14px;
	font-family: zcoolwenyiti;
	font-size: 16px;
	color: #6a707d;
	margin-left: 10px;
}

.base {
    width: 100%;
	background-color: #f5f8fc;
	z-index: -1;
}

.view{
	float:left;
}



