.pop-header{
	width: 564px;
	height: 87px;
	background-color: #2a3245;
	border-radius: 4px 4px 0px 0px;
}

.pop-window {
    position:absolute;
    top:196px;
    left:478px;
    cursor:pointer;
    z-Index:99999;

	width: 564px;
	height: 554px;
	background-color: #ffffff;
	border-radius: 4px;
}

.pop-title{
    position:absolute;
    top:34px;
    left:43px;

	font-family: zcoolwenyiti;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
}

.must-input{
	width: 6px;
	height: 6px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #e60012;
}

.pop-form{
    position:relative;
}

.first-pop-star{
    position:absolute;
    top:48px;
    left:40px;
}

.second-pop-star{
    position:absolute;
    top:48px;
    left:310px;
}

.third-pop-star{
    position:absolute;
    top:94px;
    left:40px;
}

.fourth-pop-star{
    position:absolute;
    top:312px;
    left:40px;
}

.pop-label{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	color: #333333;
}

.first-pop-label{
    position:absolute;
    top:44px;
    left:48px;
}

.second-pop-label{
    position:absolute;
    top:44px;
    left:318px;
}

.third-pop-label{
    position:absolute;
    top:90px;
    left:48px;
}

.fourth-pop-label{
    position:absolute;
    top:308px;
    left:48px;
}

.pop-input{
    width: 160px;
    height: 30px;
    border: solid 1px #e5e5e5;
}

.first-pop-input{
    position:absolute;
    top:44px;
    left:126px;
}

.pop-radio{
	vertical-align:middle;
	margin-top:-2px;
	margin-bottom:1px;
}

.pop-radio-label{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	color: #333333;
}

.first-pop-radio{
    position:absolute;
    top:46px;
    left:386px;
}

.first-pop-textarea{
	position:absolute;
    top:90px;
    left:126px;

	width: 397px;
	height: 202px;
	border: solid 1px #e5e5e5;
}

.second-pop-textarea{
	position:absolute;
    top:308px;
    left:126px;

	width: 397px;
	height: 101px;
	border: solid 1px #e5e5e5;
}

.pop-submit{
	width: 120px;
	height: 28px;
	background-color: #2a3245;
	border-radius: 14px;

	font-family: zcoolwenyiti;
	font-size: 12px;
	color: #ffffff;

	position:absolute;
	top:422px;
	left:132px;
}

.pop-cancel{
	width: 120px;
	height: 28px;
	border-radius: 14px;
	border: solid 1px #2a3245;

	font-family: zcoolwenyiti;
	font-size: 12px;
	color: #666666;

	position:absolute;
	top:422px;
	left:314px;
}